<h1 class="text-center mt-5">Página detalle de producto.</h1>

<section>
    {{> horizontalCard
        img=producto.img
        nombre=producto.nombre

        autor=producto.autor

        descripcion=producto.descripcion
        autor=producto.autor
        precio=producto.precio
        stock=producto.stock
        id=producto.id
    }}
</section>